<%- include('partials/head') %>

	<%- entab(include('partials/main-slider'), 1) %>

	<%- entab(include('partials/scrolling-nav'), 1) %>

	<%- entab(include('partials/about'), 1) %>

	<%- entab(include('partials/supervision'), 1) %>

	<%- entab(include('partials/services'), 1) %>

	<%- entab(include('partials/promo-quote'), 1) %>

	<%- entab(include('partials/portfolio'), 1) %>

	<%- entab(include('partials/store'), 1) %>

	<%- entab(include('partials/blog'), 1) %>

	<%- entab(include('partials/news'), 1) %>
	
	<%- entab(include('partials/footer'), 1) %>

	<%- entab(include('partials/application-modal'), 1) %>

<%- include('partials/foot') %>