<section class="about">
	<header>
		<h2 class="heading">О компании</h2>
		<div class="subheading">
			Визитной карточкой фирмы по благоустройству и озеленению «Base Relief»
			является умение воплощать ваши мечты.
		</div>
	</header>
	<div class="content">
		<div class="expanded row">
			<div class="large-6 column">
				<p>Искусство грамотно облагораживать окружающую территорию входит в
				задачу уважающего себя дизайнера. Благоустройство и озеленение –
				процесс сложный, тяжёлый, многогранный. Но мы готовы справиться
				с любой поставленной задачей, потому что: мы многое знаем о
				культуре ландшафта и мы готовы взяться за благоустройство Вашей
				территории, мы творчески подходим к ландшафтному дизайну Сада.</p>
			</div>
			<div class="large-6 column">
				<p>Основным направлением деятельности компании BaseRelief является
				озеленение и благоустройство территории, ландшафтный дизайн.
				Безупречно оформленный сад станет неотъемлемой частью Вашего
				коттеджа или загородного дома в Москве или Подмосковье.
				Благоустройством участка Вашей дачи или усадьбы займутся
				настоящие специалисты своего дела: ландшафтные дизайнеры,
				декораторы, строители.</p>
			</div>
		</div>
	</div>
</section> <!-- /.about -->