<div class="application-modal remodal" data-remodal-id="application-modal">
	<button data-remodal-action="close" class="remodal-close"></button>
	<div class="title">Отправить сообщение</title>
	<form>
		<div class="expanded row">
			<div class="medium-12 column">
				<input class="form-control" name="name" type="text" placeholder="Ваше ФИО">
			</div>
		</div>
		<div class="expanded row">
			<div class="medium-6 column">
				<input class="form-control" name="tel" type="text" placeholder="Телефон">
			</div>
			<div class="medium-6 column">
				<input class="form-control" name="email" type="text" placeholder="E-mail">
			</div>
		</div>
		<div class="expanded row">
			<div class="medium-12 column">
				<textarea class="form-control" name="name" placeholder="Ваше ФИО" rows="4"></textarea>
			</div>
		</div>
		<div class="expanded row">
			<div class="medium-12 column">
				<button class="primary button" type="submit">Отправить</button>
			</div>
		</div>
	</form>
</div>