<section class="news">
	<header>
		<h2 class="heading">Блог компании</h2>
	</header>
	<div class="content">
		<ul class="post-card-row">
			<%- entab(blog.map(card => include('post-card', {card})).join('\n'), 3); %>
		</ul> <!-- /.post-card-row -->
	</div>
	<footer>
		<a class="primary ghost button" href="#">В блоги</a>
	</footer>
</section> <!-- /.news -->