<footer class="footer">
	<div class="top">
		<ul class="nav">
			<li class="menu-item-has-children">
				<ul>
					<li class="menu-item-has-children">
						<a href="#">Дизайн:</a>
						<ul>
							<li><a href="#">Система полива</a></li>
							<li><a href="#">Освещение участков</a></li>
							<li><a href="#">Мощение дорожек</a></li>
							<li><a href="#">Дренажные системы</a></li>
							<li><a href="#">Выбор стиля</a></li>
							<li><a href="#">Подпорные стенки</a></li>
							<li><a href="#">Рокарий, альпинарий</a></li>
							<li><a href="#">Водоемы, пруды, фонтаны</a></li>
							<li><a href="#">Выбор стиля</a></li>
							<li><a href="#">Водопады и скалы</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<ul>
					<li class="menu-item-has-children">
						<a href="#">Проектирование:</a>
						<ul>
							<li><a href="#">Этапы проектирования</a></li>
							<li><a href="#">Документация</a></li>
							<li><a href="#">Авторский надзор</a></li>
							<li><a href="#">Геодезическое обследование</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Благоустройство:</a>
						<ul>
							<li><a href="#">Загородных территорий</a></li>
							<li><a href="#">Городских территорий</a></li>
							<li><a href="#">Объекты образования </a></li>
							<li><a href="#">Мед. учереждения</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<ul>
					<li class="menu-item-has-children">
						<a href="#">Озеленение:</a>
						<ul>
							<li><a href="#">Устройство газонов</a></li>
							<li><a href="#">Посадка крупномеров</a></li>
							<li><a href="#">Деревья и кустарники</a></li>
							<li><a href="#">Цветники и клумбы</a></li>
							<li><a href="#">Уход за садом</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Газоны:</a>
						<ul>
							<li><a href="#">Виды газонов</a></li>
							<li><a href="#">Подготовка участка</a></li>
							<li><a href="#">Уход за газоном</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="menu-item-has-children">
				<ul>
					<li class="menu-item-has-children">
						<a href="#">Крупномеры:</a>
						<ul>
							<li><a href="#">Хвойные крупномеры</a></li>
							<li><a href="#">Лиственные крупномеры</a></li>
							<li><a href="#">Плодовые крупномеры </a></li>
							<li><a href="#">Уход за деревьями</a></li>
							<li><a href="#">Прайс-листы</a></li>
						</ul>
					</li>
					<li><a href="#">Уход, обслуживание</a></li>
					<li><a href="#">Обработка сада</a></li>
				</ul>
			</li>
		</ul>
		<div class="contacts">
			<a class="heading" href="#">Контакты:</a>
			<div class="text">
				Московская область,  п. Горки-2<br>
				<a href="mailto:info@baserelief.ru">info@baserelief.ru</a><br>
				<a href="tel:+74957729394">+7 (495) 772-93-94</a>
			</div>
			<div class="heading">Мы в соц сетях:</div>
			<nav class="social-bar dark">
				<a class="vk" href="#"></a>
				<a class="twitter" href="#"></a>
				<a class="facebook" href="#"></a>
				<a class="gplus" href="#"></a>
				<a class="youtube" href="#"></a>
			</nav>
		</div>
	</div> <!-- /.top -->
	<div class="bottom">
		<div class="container">
			<a class="logo" href="#" title="На главную Base Relief">
				<img src="img/logo-white.png" alt="Base Relief">
			</a>
			<div class="copy">
				© Base Relief, 2016<br>
				Ландшафтный дизайн и озеленение.
			</div>
			<div class="developer">
				<a href="#">
					<img src="img/webolution.png" alt="webolution">
				</a>
				Продвижение и разработка сайта
			</div>
		</div>
	</div>
</footer>