	<!-- Polyfills -->
	<script src="bower_components/svg4everybody/dist/svg4everybody.min.js"></script>
	<script src="bower_components/picturefill/dist/picturefill.min.js"></script>
	<script src="bower_components/objectFitPolyfill/dist/objectFitPolyfill.min.js"></script>

	<!-- Plugins -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/hammerjs/hammer.min.js"></script>
	<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
	<script src="bower_components/remodal/dist/remodal.min.js"></script>
	<script src="bower_components/photoswipe/dist/photoswipe.min.js"></script>
	<script src="bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>
	<script src="bower_components/iCheck/icheck.min.js"></script>

	<!-- Application bundles -->
	<script src="js/app.min.js"></script>

	<!--
		Application initialization.
		That's the place where the server script may inject some config.
	-->
	<script type="text/javascript">
		$(document).ready(function() {
			var app = new App({
				// REST API address
				apiHost: '//api/v1/'
			});
			app.initCommon();
		});
	</script>
</body>
</html>