<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Base Relief</title>

	<link href="bower_components/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css">
	<link href="bower_components/slick-carousel/slick/slick-theme.css" rel="stylesheet" type="text/css">
	<link href="bower_components/remodal/dist/remodal.css" rel="stylesheet" type="text/css">
	<link href="bower_components/photoswipe/dist/photoswipe.css" rel="stylesheet">
	<link href="bower_components/photoswipe/dist/default-skin/default-skin.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" type="text/css">

	<link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400i&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<a class="logo" href="#" title="На главную Base Relief">
				<img src="img/logo.png" alt="Base Relief">
			</a>
			<a class="rewards-link" href="#">Награды и отзывы</a>
			<a class="phone-link" href="tel:+84957729394">8 (495) 772-93-94</a>
			<a class="mobile-link" href="tel:+79100089394">+7 910 008-93-94</a>
			<nav class="social-bar light">
				<a class="vk" href="#"></a>
				<a class="twitter" href="#"></a>
				<a class="facebook" href="#"></a>
				<a class="gplus" href="#"></a>
				<a class="youtube" href="#"></a>
			</nav>
			<nav class="primary-nav left">
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Портфолио</a></li>
					<li data-id="4"><a href="#">Услуги</a></li>
				</ul>
			</nav>
			<nav class="primary-nav right">
				<ul>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Партнерам</a></li>
					<li><a href="#">Блог</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
		</div> <!-- /.container -->

		<!--
			Mega submenu for a specified .primary-nav's item.

			1st level items of the mega-menu are just columns. You may also
			leave their anchors in your code, they will be hidden via CSS.

			The [data-parent] parameter must match the id of the corresponding
			parent item's i.e. `.primary-nav>li[data-id]`.
		-->
		<nav class="mega-menu" data-parent="4">
			<ul>
				<li class="menu-item-has-children">
					<ul>
						<li class="menu-item-has-children">
							<a href="#">Дизайн:</a>
							<ul>
								<li><a href="#">Система полива</a></li>
								<li><a href="#">Освещение участков</a></li>
								<li><a href="#">Мощение дорожек</a></li>
								<li><a href="#">Дренажные системы</a></li>
								<li><a href="#">Выбор стиля</a></li>
								<li><a href="#">Подпорные стенки</a></li>
								<li><a href="#">Рокарий, альпинарий</a></li>
								<li><a href="#">Водоемы, пруды, фонтаны</a></li>
								<li><a href="#">Выбор стиля</a></li>
								<li><a href="#">Водопады и скалы</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<ul>
						<li class="menu-item-has-children">
							<a href="#">Проектирование:</a>
							<ul>
								<li><a href="#">Этапы проектирования</a></li>
								<li><a href="#">Документация</a></li>
								<li><a href="#">Авторский надзор</a></li>
								<li><a href="#">Геодезическое обследование</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Благоустройство:</a>
							<ul>
								<li><a href="#">Загородных территорий</a></li>
								<li><a href="#">Городских территорий</a></li>
								<li><a href="#">Объекты образования </a></li>
								<li><a href="#">Мед. учереждения</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<ul>
						<li class="menu-item-has-children">
							<a href="#">Озеленение:</a>
							<ul>
								<li><a href="#">Устройство газонов</a></li>
								<li><a href="#">Посадка крупномеров</a></li>
								<li><a href="#">Деревья и кустарники</a></li>
								<li><a href="#">Цветники и клумбы</a></li>
								<li><a href="#">Уход за садом</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Газоны:</a>
							<ul>
								<li><a href="#">Виды газонов</a></li>
								<li><a href="#">Подготовка участка</a></li>
								<li><a href="#">Уход за газоном</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<ul>
						<li class="menu-item-has-children">
							<a href="#">Крупномеры:</a>
							<ul>
								<li><a href="#">Хвойные крупномеры</a></li>
								<li><a href="#">Лиственные крупномеры</a></li>
								<li><a href="#">Плодовые крупномеры </a></li>
								<li><a href="#">Уход за деревьями</a></li>
								<li><a href="#">Прайс-листы</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<ul>
						<li><a href="#">Уход, обслуживание</a></li>
						<li><a href="#">Обработка сада</a></li>
					</ul>
				</li>
			</ul>
		</nav> <!-- /.mega-menu -->

		<div class="menu-toggle left">
			<div class="hamburger"><i></i></div>
			Меню
		</div>

		<div class="menu-toggle right">
			Услуги
			<div class="hamburger"><i></i></div>
		</div>
	</header>