<div class="main-slider">
	<div class="slides"><% for (var i = 1; i <= 5; i++) { %>
		<div class="slide"><% if (usePicture) { %>
			<picture>
				<source
					media="(min-width: 641px)"
					srcset="img/demo/main-slider-<%= i %>.jpg">
				<img
					srcset="img/demo/main-slider-<%= i %>-640.jpg"
					alt="Demo slide <%= i %>"
					data-object-fit="cover"
					data-object-position="50% 50%">
			</picture><% } else { %>
			<div class="picture" style="background-image: url('img/demo/main-slider-<%= i %>.jpg')"></div><% } %>
			<div class="medal">
				<img src="img/demo/main-slider-medal-1.png" alt="">
			</div>
		</div><% } %>
	</div>
	<div class="overlay">
		<div class="container">
			<h1 class="title">Студия ландшафтного дизайна</h1>
			<a class="large primary button" href="#" data-remodal-target="application-modal">Оформить заявку</a>
		</div>
	</div>
</div> <!-- /.main-slider -->