<section class="news">
	<header>
		<h2 class="heading">Новости ландшафтного дизайна</h2>
	</header>
	<div class="content">
		<ul class="post-card-row">
			<%- entab(news.map(card => include('post-card', {card})).join('\n'), 3); %>
		</ul> <!-- /.post-card-row -->
	</div>
	<footer>
		<a class="primary ghost button" href="#">Все новости</a>
	</footer>
</section> <!-- /.news -->