<li class="portfolio-thumbnail-item">
	<h4 class="name"><%= name %></h4>
	<picture>
		<source
			media="(min-width: 400px) and (max-width: 1199px)"
			srcset="<%= src.medium %>">
		<img srcset="<%= src.small %>" alt="">
	</picture>
	<div class="footer">
		<ul class="counters">
			<li>
				<div class="label">Площадь участка:</div>
				<div class="value">
					<%= area %> <span class="unit"><%= areaUnit %></span>
				</div>
			</li>
			<li>
				<div class="label">Сделали в срок:</div>
				<div class="value">
					<%= time %> <span class="unit"><%= timeUnit %></span>
				</div>
			</li>
		</ul>
		<a class="more" href="#"></a>
	</div>
</li>