<section class="portfolio">
	<header>
		<h2 class="heading">Портфолио</h2>
		<div class="subheading">
			Наши специалисты выполняют проекты по дизайну ландшафта любого
			уровня сложности – как частные (загородный дом, садовый участок,
			коттедж, дача, усадьба), так и городские проекты  (озеленение улиц,
			скверов, парков, площадей и т.д.).
		</div>
	</header>
	<div class="content">
		<div class="big-portfolio-item">
			<h3 class="name">Антоновка</h3>
			<picture>
				<source
					media="(min-width: 400px)"
					srcset="img/demo/big-portfolio-item-1-770.jpg">
				<img srcset="img/demo/big-portfolio-item-1-370.jpg" alt="">
			</picture>
			<div class="details">
				<h3 class="name">Антоновка</h3>
				<ul class="counters">
					<li>
						<div class="label">Площадь:</div>
						<div class="value">
							10 <span class="unit big">га</span>
						</div>
					</li>
					<li>
						<div class="label">Срок:</div>
						<div class="value">
							24 <span class="unit">дня</span>
						</div>
					</li>
					<li>
						<div class="label">Стоимость:</div>
						<div class="value">
							240 <span class="unit">тыс. руб.</span>
						</div>
					</li>
				</ul>
				<div class="description">
					Разнообразие малых архитектурных форм настолько богато, что
					мастерски подобранные элементы – мостики и павильоны,
					перголы и ротонды, беседки и арки, альпинарии и фонтаны
					способны воплотить абсолютно...
				</div>
				<div class="footer">
					<a class="primary button rarr" href="#">В кейс проекта</a>
				</div>
			</div>
		</div> <!-- /.big-portfolio-item -->
		<ul class="portfolio-thumbnail-list">
			<%-
				entab(
					portfolio.thumbnails.slice(0, 3).map(data =>
						include('portfolio-thumbnail-item', data)
					).join('\n'), 3
				)
			%>
		</ul> <!-- /.portfolio-thumbnail-list -->
		<div class="big-portfolio-item">
			<h3 class="name">Калужские усадьбы</h3>
			<div class="details">
				<h3 class="name">Калужские усадьбы</h3>
				<ul class="counters">
					<li>
						<div class="label">Площадь:</div>
						<div class="value">
							10 <span class="unit big">га</span>
						</div>
					</li>
					<li>
						<div class="label">Срок:</div>
						<div class="value">
							24 <span class="unit">дня</span>
						</div>
					</li>
					<li>
						<div class="label">Стоимость:</div>
						<div class="value">
							240 <span class="unit">тыс. руб.</span>
						</div>
					</li>
				</ul>
				<div class="description">
					Разнообразие малых архитектурных форм настолько богато, что
					мастерски подобранные элементы – мостики и павильоны,
					перголы и ротонды, беседки и арки, альпинарии и фонтаны
					способны воплотить абсолютно...
				</div>
				<div class="footer">
					<a class="primary button rarr" href="#">В кейс проекта</a>
				</div>
			</div>
			<picture>
				<source
					media="(min-width: 400px)"
					srcset="img/demo/big-portfolio-item-2-770.jpg">
				<img srcset="img/demo/big-portfolio-item-2-370.jpg" alt="">
			</picture>
		</div> <!-- /.big-portfolio-item -->
	</div> <!-- /.content -->
	<footer>
		<a class="primary ghost button" href="#">Больше работ</a>
	</footer>
</section> <!-- /.portfolio --> 