<li class="post-card">
<% if (!usePicture) { %>	<div class="picture" style="background-image: url('<%= card.src.medium %>');"></div>
<% } else { %>	<picture>
		<source
			media="(min-width: 400px) and (max-width: 1024px)"
			srcset="<%= card.src.medium %>">
		<img
			srcset="<%= card.src.small %>"
			data-object-fit="cover"
			data-object-position="50% 50%">
	</picture>
<% } %>	<div class="title">
		<a href="#"><%- card.title %></a>
	</div>
	<div class="teaser">
		<%- card.teaser %>
	</div>
	<div class="time"><%= card.time %></div>
</li>