<div class="product-card"><% if (promo) { %>
	<div class="flag">Акция</div><% } %>
	<a class="preview" href="#">
		<img src="<%= imageUrl %>" alt="<%= name %>">
	</a>
	<div class="details">
		<a class="name" href="#"><%= name %></a>
	</div>
	<div class="footer">
		<div class="mark"><%= mark %></div>
		<div class="price"><%= price %> <span class="unit"><%= unit %></span></div>
		<a class="primary button" href="#">Заказать</a>
	</div>
</div>