<div class="promo-quote">
	<div class="container">
		<div class="author">
			<img class="avatar" src="img/demo/promo-quote-avatar.jpg" alt="">
			<div class="name">Роман Евгеньев</div>
			<div class="position">дизайнер</div>
		</div>
		<div class="content">
			<div class="text">
				<p>Искусство грамотно облагораживать окружающую территорию входит в
				задачу уважающего себя дизайнера. Этот процесс сложный, тяжёлый,
				многогранный.<br>
				о мы готовы справиться с любой поставленной задачей,
				потому что: мы многое знаем о культуре ландшафта и радостью Вам поможем!</p>
			</div>
			<div class="footer">
				<a class="primary button" href="#" data-remodal-target="application-modal">Получить консультацию</a>
			</div>
		</div>
	</div>
</div> <!-- /.promo-quote -->