<nav class="scrolling-nav">
	<div class="frame">
		<ul>
			<li><a href="#">Проектирование</a></li>
			<li><a href="#">Дизайн</a></li>
			<li><a href="#">Озеленение</a></li>
			<li><a href="#">Благоустройство</a></li>
			<li><a href="#">Газоны</a></li>
			<li><a href="#">Крупномеры</a></li>
			<li><a href="#">Обслуживание</a></li>
			<li><a href="#">Обработка сада</a></li>
		</ul>
	</div>
</nav>