<section class="services">
	<header>
		<h2 class="heading">Наши услуги</h2>
	</header>
	<div class="content">
		<ul class="service-grid">
			<li>
				<div class="icon">
					<img src="img/demo/service-landscape-eng.png" alt="">
				</div>
				<a class="name" href="#">Ландшафтное проектирование</a>
				<div class="description">
					Самый первый и достаточно обширный объем работ по
					благоустройству участка любого размера и назначения.
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-landscape-dis.png" alt="">
				</div>
				<a class="name" href="#">Ландшафтный дизайн</a>
				<div class="description">
					Дизайн участка, воплощенный высококлассными дизайнерами
					компании «BaseRelief», позволяет создать уникальную атмосферу.
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-landscaping.png" alt="">
				</div>
				<a class="name" href="#">Благоустройство территории</a>
				<div class="description">
					Комплексные работы, позволяющие превратить территорию любого
					размера и назначения в уютную, аккуратную и красивую. 
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-planting.png" alt="">
				</div>
				<a class="name" href="#">Озеленение территории</a>
				<div class="description">
					Оказывает огромное влияние на психологическое, физическое и
					эмоциональное самочувствие человека.
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-lawn.png" alt="">
				</div>
				<a class="name" href="#">Устройство газона</a>
				<div class="description">
					Современные методики и материалы позволяют создать газон
					высокого функционального и эстетического качества
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-planting-big.png" alt="">
				</div>
				<a class="name" href="#">Посадка крупномеров</a>
				<div class="description">
					Сформировавшиеся деревья и кустарники разных пород создают
					стержень для озеленения участка любых размеров. 
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-small-forms.png" alt="">
				</div>
				<a class="name" href="#">Малые архитектурные формы</a>
				<div class="description">
					Проектирование – самый первый и достаточно обширный объем
					работ по благоустройству участка любого размера и назначения.
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-care.png" alt="">
				</div>
				<a class="name" href="#">Уход и обслуживание</a>
				<div class="description">
					Дизайн участка, воплощенный высококлассными дизайнерами
					компании «BaseRelief», позволяет создать уникальную атмосферу.
				</div>
			</li>
			<li>
				<div class="icon">
					<img src="img/demo/service-garden-goods.png" alt="">
				</div>
				<a class="name" href="#">Товары для сада</a>
				<div class="description">
					Дизайн участка, воплощенный высококлассными дизайнерами
					компании «BaseRelief», позволяет создать уникальную атмосферу.
				</div>
			</li>
		</ul>
	</div>
</section> <!-- /.services -->