<section class="store">
	<header>
		<h2 class="heading">Наш магазин</h2>
	</header>
	<div class="content">
		<nav class="tabs">
			<ul>
				<li class="active"><a href="#">Семена и саженцы</a></li>
				<li><a href="#">Удобрения</a></li>
				<li><a href="#">Грунт</a></li>
				<li><a href="#">Декор</a></li>
				<li><a href="#">Инструменты</a></li>
				<li><a href="#">Мотоблоки</a></li>
			</ul>
		</nav>
		<ul class="product-grid"><% for(var i = 1; i <= 8; i++) { %>
			<li class="small-12 medium-6 large-3">
				<%-
					entab(include('product-card', {
						promo: i % 3 == 0,
						imageUrl: 'img/demo/product-' + i + '.jpg',
						name: 'Садовая тяпка с белой ручкой класса Premium',
						mark: 'АРТ. 5635467',
						price: '9 890',
						unit: 'руб.'
					}), 4)
				%>
			</li><% } %>
		</ul> <!-- /.product-grid -->
	</div>
	<footer>
		<a class="primary ghost button" href="#">В магазин</a>
	</footer>
</section> <!-- /.store -->