//------------------------------- LAYOUT MIXINS --------------------------------

$max-container-width: 1170px;

%container {
	max-width: ($max-container-width + $viewport-h-padding * 2);
	margin-left: auto;
	margin-right: auto;
	padding: 0 $viewport-h-padding;
}

//-------------------------------- ROOT STYLES ---------------------------------

* {
	box-sizing: border-box;
}
html {
	font-size: $font-size-base;
	font-family: $font-family-base;
	font-weight: normal;
	// disable old-style digits
	font-variant-numeric: lining-nums;
	color: $text-color;
}
body {
	background: $body-bg;
	min-width: 320px;
	position: relative;
}