

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/font/fontello.eot?97718010');
  src: url('../fonts/fontello/font/fontello.eot?97718010#iefix') format('embedded-opentype'),
       url('../fonts/fontello/font/fontello.woff2?97718010') format('woff2'),
       url('../fonts/fontello/font/fontello.woff?97718010') format('woff'),
       url('../fonts/fontello/font/fontello.ttf?97718010') format('truetype'),
       url('../fonts/fontello/font/fontello.svg?97718010#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}