// Foundation settings file

$font-family-sans-serif:         'Open Sans', sans-serif;
$font-family-serif:              'PT Serif Caption', serif;

$global-font-size: 16px;
$global-lineheight: 1.25; // 20 / 16
$body-background: #fff;
$body-font-color: #303030;
$body-font-family: $font-family-sans-serif;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-flexbox: true;

// GRID

$grid-column-count: 12;
$grid-column-gutter: (
	small: 16px,
);

// COLORS

$foundation-palette: (
	primary: #1779ba,
	secondary: #767676,
	success: #3adb76,
	warning: #ffae00,
	alert: #cc4b37,
);

// BREAKPOINTS

$breakpoints: (
	small: 0px,
	medium: 640px,
	large: 1024px,
	xlarge: 1200px,
	xxlarge: 1920px,
);
$breakpoint-classes: (small medium large);