.link {
	&, &:link, &:visited {
		color: #219ce3;
		text-decoration: underline;
	}

	&:hover {
		color: #219ce3;
		text-decoration: none;
	}
}

%typography {
	@extend %clearfix;

	font-size: $font-size-base;
	line-height: 1.5;

	a {
		@extend .link;
	}

	p {
		text-indent: 0;
	}

	h1, .h1 {
		color: #1e629c;
		font-family: $font-family-serif;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
	}

	h2, .h2 {
		color: #1e88e5;
		font-size: 16px;
		font-weight: 600;
		font-family: $font-family-sans-serif;
	}

	h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		color: #000;
		font-size: 20px;
		font-weight: 600;
		font-family: $font-family-sans-serif;
	}

	ul, ol {
		padding-left: 1em;

		> li + li {
			margin-top: 10px;

			@media (min-width: $bp-lg) {
				margin-top: 25px;
			}
		}
	}

	img {
		display: block;
		max-width: 100%;
		border: 0;
	}

	img.alignright { display: inline-block; float: right; margin: 5px 0 10px 10px; }
	img.alignleft { display: inline-block; float: left; margin: 5px 10px 10px 0; }
	img.aligncenter { display: block; margin: 0 auto 10px; }

	p,
	blockquote,
	ul, ol,
	table,
	.table-responsive,
	blockquote,
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
	img {
		margin: 0 0 10px;
	}

	> img:last-child,
	> p:last-child,
	> ul:last-child, > ol:last-child,
	> blockquote:last-child,
	> table:last-child,
	> .table-responsive:last-child,
	> h1:last-child, > .h1:last-child, > h2:last-child, > .h2:last-child,
	> h3:last-child, > .h3:last-child, > h4:last-child, > .h4:last-child,
	> h5:last-child, > .h5:last-child, > h6:last-child, > .h6:last-child,
	> img:last-child {
		margin-bottom: 0 !important;
	}

	@media (min-width: $bp-sm) {
		p,
		ul, ol,
		table,
		.table-responsive,
		blockquote,
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
		img, img.alignright, img.alignleft, img.aligncenter {
			margin-bottom: 20px;
		}
	}
}

.table-responsive {
	overflow-x: auto;
	margin-bottom: 10px;

	> table {
		margin-bottom: 0 !important;
	}
}
