// The file contains the SHARED variables that may be used by several modules.

// ------------------------------- COLORS --------------------------------------

$brand-primary:                     #fcd50b !default;
$brand-success:                     #00c853 !default;
$brand-info:                        #5bc0de !default;
$brand-warning:                     #f0ad4e !default;
$brand-danger:                      #d9534f !default;

$body-bg:                    #fff;

$text-color:                 #303030;
$text-muted:                 #b5b1a5;

$link-color:                 #1c88d4;
$link-decoration:            underline;
$link-hover-decoration:      none;

// ------------------------------ TYPOGRAPHY -----------------------------------
//       Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:         'Open Sans', sans-serif;
$font-family-serif:              'PT Serif Caption', serif;
$font-family-base:               $font-family-sans-serif;

$font-size-base:             16px;
$font-size-small:            16px;
$font-size-large:            18px;

$line-height-base:           1.25; // 20 / 16
$line-height-large:          $line-height-base !default; // extra decimals for Win 8.1 Chrome
$line-height-small:          $line-height-base !default;
// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:       floor(($font-size-base * $line-height-base)) !default; // ~20px

// ------------------------------ COMPONENTS -----------------------------------
//          Define common padding and border radius sizes and more.
//   A component-specific values may depend on the following global ones.
//     Values based on 14px text and 1.428 line-height (~20px to start).

$control-height-base:        40px !default;
$control-height-mini:        20px !default;
$control-height-small:       30px !default;
$control-height-large:       48px !default;
$control-height-giant:       48px !default;

$control-h-padding-base:     30px !default;
$control-h-padding-mini:     20px !default;
$control-h-padding-small:    25px !default;
$control-h-padding-large:    35px !default;
$control-h-padding-giant:    $control-h-padding-large !default;

$border-radius-base:         0 !default;
$border-radius-small:        $border-radius-base !default;
$border-radius-large:        $border-radius-base !default;

/**
 * Returns input control (like input[type=text], buttons, etc) vertical padding
 * which extends its height to specified value. The function takes into account
 * font size, line height and border width of the control.
 */
@function control-v-padding($height, $font-size, $line-height, $border-width) {
	@return ($height - floor($font-size * $line-height)) / 2 - $border-width
}

/**
 * Returns offset from the text line top border to top text string border.
 */
@function line-offset($font-size, $line-height) {
	@return floor(($line-height * $font-size - $font-size) / 2)
}

// -------------------------- FORM STATES & ALERTS -----------------------------
//       Define colors for form feedback states and, by default, alerts.

$state-success-text:             #7bc144 !default;
$state-success-bg:               #7bc144 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10deg), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10deg), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10deg), 5%) !default;

$state-danger-text:              #ee2d43 !default;
$state-danger-bg:                #ee2d43 !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10deg), 5%) !default;

// ------------------------------ Z-INDECES -----------------------------------

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;
$zindex-dropdown-nav:      1080 !default;

// ----------------------------- BREAKPOINTS ----------------------------------

$viewport-h-padding: 15px;

$imgbase: "../img/";
