.about {
	$content-width: map-get($breakpoints, xlarge) - $viewport-h-padding;

	padding: 70px 0 (65px - 25px);
	color: $body-font-color;
	position: relative;
	overflow: hidden;

	&:before, &:after {
		content: '';
		display: none;
		position: absolute;
		top: 0;

		@include breakpoint(xlarge) {
			display: block;
		}
	}

	&:before {
		$width: 475px;
		
		left: 0;
		width: $width;
		height: 288px;
		background: url($imgbase + "about-left.jpg") no-repeat;

		@include breakpoint(xxlarge) {
			margin-left: 0;
			left: 0;
		}
	}

	&:after {
		$width: 338px;

		right: 0;
		width: $width;
		height: 293px;
		background: url($imgbase + "about-right.jpg") no-repeat;

		@include breakpoint(xxlarge) {
			margin-right: 0;
			right: 0;
		}
	}

	> header {
		@extend %section-header;

		.heading {
			@extend %section-heading;
		}

		.subheading {
			@extend %section-subheading;
		}
	}

	> .content {
		@extend %container;
		position: relative;
		z-index: 2;
		line-height: (24 / 15);
		font-size: 15px;

		p {
			margin: 0 0 15px;

			&:last-child {
				margin-bottom: 0;
			}

			&::first-letter {
				font-family: $font-family-serif;
				font-size: 42px;
				float: left;
				line-height: 1;
				margin: 3px 10px 0 0;
			}
		}
	}

	.row {
		@include grid-row(null, null, expand, true, 30px);
		@include grid-row-nest(30px);
	}

	.column, .columns {
		@include grid-column-gutter(30px);
		@include grid-column-margin(25px);
	}
}