.big-portfolio-item {
	$preview-width: 770px;
	$height: 340px;
	$gutter: 30px;

	@include display-flex;
	@include flex-direction(column);
	max-width: $preview-width;
	margin: 0 auto;
	color: $body-font-color;

	@include breakpoint(xlarge) {
		@include flex-direction(row);
		@include justify-content(space-between);
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}

	.name {
		margin: 0 0 30px;
		padding: 0;

		font-family: $font-family-serif;
		font-size: 28px;
		font-weight: 400;
		font-style: normal;
		text-align: left;
	}

	> .name {
		margin: 0 0 20px;

		line-height: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include breakpoint(xlarge) {
			display: none;
			margin: 0 auto 30px;
		}
	}

	picture {
		display: block;
		line-height: 0;
		font-size: 0;
		text-align: center;

		@include breakpoint(xlarge) {
			@include flex(0 0 auto);
			width: $preview-width;
			margin-right: $gutter;
		}

		> img {
			width: 100%;
			border: 0;
		}
	}

	> .details ~ picture {
		@include breakpoint(xlarge) {
			margin-right: 0;
			margin-left: $gutter;
		}
	}

	> .details {
		margin: 0 auto;
		@include order(2);

		@include breakpoint(xlarge) {
			@include flex(1 1 auto);
			@include order(0);
			min-width: 0; // enable children's nowrap & overflow: hidden
			margin: 0;
		}

		> .name {
			display: none;
			line-height: 1;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include breakpoint(xlarge) {
				display: block;
			}
		}
	}

	.counters {
		$border-color: #e5e5e5;

		list-style: none;
		margin: 0 0 20px;
		padding: 10px 0;
		border-bottom: 1px solid $border-color;
		@include display-flex;
		@include justify-content(space-between);

		@include breakpoint(xlarge) {
			border-top: 1px solid $border-color;
		}

		> li {
			position: relative;
			display: block;
			margin: 0;
			padding: 5px 10px;
			@include flex(1 1 auto);
			border-left: 1px solid $border-color;

			&:first-child {
				border-left: 0;
				padding-left: 0;
			}

			&:last-child {
				@include flex(0 1 auto);
				padding-right: 0;
			}
		}

		.label {
			margin: 0 0 10px;
			line-height: 1;
			font-size: 12px;
			color: #9c9b9b;
		}

		.value {
			font-family: $font-family-serif;
			font-size: 24px;
			line-height: 1;

			@include breakpoint(xlarge) {
				font-size: 28px;
			}
		}

		.unit {
			font-family: $font-family-serif;
			font-size: 16px;
			vertical-align: baseline;

			@include breakpoint(xlarge) {
				font-size: 18px;
			}
		}
	}

	.description {
		$font-size: 15px;
		$line-height: (24 / 15);
		$row-count: 5;

		margin-bottom: 25px;
		font-size: $font-size;
		line-height: $line-height;

		@include breakpoint(xlarge) {
			margin-bottom: 20px;
			height: ($font-size * $line-height * $row-count);
			overflow: hidden;
		}
	}

	.rarr:after {
		content: '→';
		display: inline-block;
		vertical-align: middle;
		font-size: 1.3em;
		margin-left: 8px;
		height: 0.5em;
		line-height: 0.2em;
	}
}