// Allows for customizing button radius independently from global border radius
$button-border-radius-base:         $border-radius-base !default;
$button-border-radius-large:        $border-radius-large !default;
$button-border-radius-small:        $border-radius-small !default;
$button-line-height: 1;

.button {
	$font-size: 12px;
	$v-padding: control-v-padding($control-height-base, $font-size, $button-line-height, 2px);

	display: inline-block;
	height: $control-height-base;
	padding: $v-padding $control-h-padding-base;
	margin: 0;
	vertical-align: middle;

	border: 1px solid transparent;
	border-radius: $button-border-radius-base;

	font-family: $font-family-sans-serif;
	font-size: $font-size;
	font-weight: 600;
	line-height: ($button-line-height * $font-size-base);
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;

	@include touch-action(manipulation);
	@include user-select(none);
	cursor: pointer;

	&, &:link, &:visited, &:hover {
		color: #fff;
		text-decoration: none;
	}

	&:focus, &:active {
		outline: none;
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
		@include opacity(.65);
		box-shadow: none;
	}

	@at-root a#{&} {
		&, &:link, &:visited, &:hover {
			text-decoration: none;
		}
	}

	@at-root &.disabled, fieldset[disabled] #{&} {
		pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
	}

	// Shadow overlay
	&:before {
		border-radius: $button-border-radius-base;
	}

	&.ghost {
		border-radius: 20px;
	}
}

// --------------------------------- SIZES -------------------------------------

.button.giant {
	$font-size: 14px;
	$v-padding: control-v-padding(
		$control-height-giant, $font-size, $button-line-height, 1px);
	
	height: $control-height-giant;
	padding: $v-padding $control-h-padding-giant;
	border-radius: $button-border-radius-large;
	font-size: $font-size;
	line-height: ($button-line-height * $font-size);

	// Shadow overlay
	&:before {
		border-radius: $button-border-radius-large;
	}

	&.ghost {
		border-radius: ($control-height-giant / 2);
	}
}

.button.large {
	$font-size: 13px;
	$v-padding: control-v-padding(
		$control-height-large, $font-size, $button-line-height, 1px);
	
	height: $control-height-large;
	padding: $v-padding $control-h-padding-large;
	border-radius: $button-border-radius-large;
	font-size: $font-size;
	line-height: ($button-line-height * $font-size);

	// Shadow overlay
	&:before {
		border-radius: $button-border-radius-large;
	}

	&.ghost {
		border-radius: ($control-height-large / 2);
	}
}

.button.small {
	$font-size: 11px;
	$v-padding: control-v-padding(
		$control-height-small, $font-size, $button-line-height, 1px);
	
	height: $control-height-small;
	padding: $v-padding $control-h-padding-small;
	border-radius: $button-border-radius-small;
	font-size: $font-size-small;
	line-height: ($button-line-height * $font-size);

	// Shadow overlay
	&:before {
		border-radius: $button-border-radius-small;
	}

	&.ghost {
		border-radius: ($control-height-small / 2);
	}
}

.button.mini {
	$font-size: 10px;
	$v-padding: control-v-padding(
		$control-height-mini, $font-size, $button-line-height, 1px);
	
	height: $control-height-mini;
	padding: $v-padding $control-h-padding-mini;
	border-radius: $button-border-radius-small;
	font-size: $font-size;
	line-height: ($button-line-height * $font-size);

	// Shadow overlay
	&:before {
		border-radius: $button-border-radius-small;
	}

	&.ghost {
		border-radius: ($control-height-mini / 2);
	}
}

// ------------------------------- VARIANTS ------------------------------------

@mixin button-variant($bg-color, $active-bg-color, $text-color) {
	background-color: $bg-color;
	border-color: $bg-color;
	outline: none;
	position: relative;
	overflow: hidden;
	@include transition(
		color 180ms linear,
		background-color 180ms linear,
		border-color 180ms linear
	);

	&, &:link, &:visited, &:hover {
		color: $text-color;
		text-decoration: none;
	}

	&:hover, &:active,
	&.ghost:hover, &.ghost:active, {
		background: $active-bg-color;
		border-color: $active-bg-color;
	}

	&:focus {
		color: $text-color;
		outline: none;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		background: $bg-color;
		border-color: $bg-color;
		@include opacity(1);

		&:before { display: none; }
	}

	&.ghost {
		background-color: transparent;
		
		&, &:link, &:visited {
			color: $bg-color;
		}

		&:hover {
			color: $text-color;
		}
	}
}

.button {
	@include button-variant(#0b867a, #73c049, #fff);
}

.button.danger {
	@include button-variant(#0b867a, #73c049, #fff);
}

.button.info {
	@include button-variant(#0b867a, #73c049, #fff);
}

.button.primary {
	@include button-variant(#0b867a, #73c049, #fff);
}

.button.success {
	@include button-variant(#0b867a, #73c049, #fff);
}

// --------------------------------- MISC --------------------------------------

.button.expanded {
	display: block;
	width: 100%;
	text-align: center;
	// Vertically space out multiple block buttons
	+ #{&} {
		margin-top: 5px;
	}
	// Specificity overrides
	@at-root {
		input[type="submit"]#{&},
		input[type="reset"]#{&},
		input[type="button"]#{&} {
			width: 100%;
		}
	}
}
