%footer-column-section-title {
	$text-color: #fff;

	font-family: $font-family-serif;
	font-size: $font-size-base;
	white-space: nowrap;
	line-height: $line-height-base;

	&, &:link, &:visited {
		color: $text-color;
		text-decoration: none;
	}

	@at-root a#{&}:hover {
		color: $text-color;
		text-decoration: underline;
	}
}

body > footer {
	$bp-desktop: xlarge;
	$text-color: #fff;
	$leaf-color: #88817f;
	
	background: #302826;
	color: $text-color;

	.top {
		@extend %container;
		width: (320px - $viewport-h-padding * 2);
		padding: 40px 0 55px;

		@include breakpoint($bp-desktop) {
			width: auto;
			padding: 40px $viewport-h-padding;
			@include display-flex;
			@include justify-content(space-between);
			@include align-items(flex-start);
		}
	}

	.nav {
		list-style: none;
		margin: 0;
		padding: 0;

		@include breakpoint($bp-desktop) {
			@include flex(1 1 auto);
			@include display-flex;
			@include justify-content(space-between);
			@include align-items(flex-start);
		}

		> li { // 1st lvl item := column
			display: block;
			margin: 35px 0;
			padding: 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			@include breakpoint($bp-desktop) {
				margin: 0;
				padding: 0 25px 10px;
				border-right: 1px solid #3a3230;
				@include flex(1 1 auto);

				&:first-child {
					padding-left: 0;
				}
			}

			> a, > span { // hide this menu branch name
				display: none;
			}

			> ul { // column's children container
				list-style: none;
				margin: 0;
				padding: 0;

				> li { // column section branch
					display: block;
					margin: 15px 0;
					padding: 0;

					&.menu-item-has-children {
						margin: 35px 0;
					}

					&:first-child,
					&.menu-item-has-children:first-child {
						margin-top: 0;
					}

					&:last-child,
					&.menu-item-has-children:last-child {
						margin-bottom: 0;
					}

					> a { // column section title
						@extend %footer-column-section-title;
					}

					> ul {
						list-style: none;
						margin: 15px 0 0;
						padding: 0;

						> li {
							display: block;
							padding: 0;
							margin: 0 0 15px;
							line-height: $line-height-base;
							white-space: nowrap;

							&:last-child {
								margin-bottom: 0;
							}

							> a {
								font-size: 13px;
								font-family: $font-family-sans-serif;

								&, &:link, &:visited {
									color: $leaf-color;
									text-decoration: none;
								}

								&:hover {
									color: $leaf-color;
									text-decoration: underline;
								}
							}
						}
					}
				} // li := column section branch
			}  // ul := column's children container
		} // li := 1st lvl item
	} // .nav

	.contacts {
		margin-top: 35px;
		white-space: nowrap;

		@include breakpoint($bp-desktop) {
			margin-top: 0;
			padding-left: 25px;
		}

		.heading {
			@extend %footer-column-section-title;
		}

		.text {
			margin: 15px 0 40px;
			color: $leaf-color;
			font-size: 13px;
			line-height: (22px / 13px);
		}

		a[href^="tel:"],
		a[href^="mailto:"] {
			&, &:link, &:visited {
				color: $leaf-color;
				text-decoration: none;
			}

			&:hover {
				color: $leaf-color;
				text-decoration: underline;
			}
		}

		.social-bar {
			margin-top: 10px;
		}
	}

	.bottom {
		border-top: 1px solid #3a3230;

		> .container {
			@extend %container;
			width: (320px - $viewport-h-padding * 2);
			padding: 30px 0 40px;

			@include breakpoint($bp-desktop) {
				width: auto;
				padding: 20px $viewport-h-padding;
				@include display-flex;
				@include justify-content(space-between);
				@include align-items(center);
			}
		}
	}

	.logo {
		display: table;
		margin-bottom: 30px;
		font-size: 0;
		line-height: 1;

		> img {
			border: 0;
		}

		@include breakpoint($bp-desktop) {
			margin-bottom: 0;
		}
	}

	.copy {
		margin-bottom: 30px;
		font-size: 13px;
		line-height: (22px / 13px);

		@include breakpoint($bp-desktop) {
			margin-bottom: 0;
		}
	}

	.developer {
		font-size: 13px;
		font-family: $font-family-sans-serif;

		>a {
			display: table;
			margin: 0 0 10px;
			line-height: 1;
			font-size: 0;

			> img {
				border: 0;
			}
		}
	}
}