.hamburger {
	$width: 24px;
	$height: 15px;
	$bar-width: $width;
	$bar-height: 3px;
	$gutter: (($height - $bar-height * 3) / 2);
	$v-padding: floor(($height - $bar-height) / 2);
	$color: #303030;
	$color-active: lighten($color, 20%);

	display: block;
	position: relative;
	width: $width;
	margin: 0;
	padding: $v-padding (($width - $bar-width) / 2);
	cursor: pointer;
	border: 0;
	outline: none !important;
	background: transparent;

	@at-root .menu-toggle.left & {
		position: absolute;
		top: 0;
		left: 0;
	}

	@at-root .menu-toggle.right & {
		position: absolute;
		top: 0;
		right: 0;
	}

	&:before, &:after {
		content: '';
		left: (($width - $bar-width) / 2);
		right: (($width - $bar-width) / 2);
		display: block;
		position: absolute;
		height: $bar-height;
		background-color: $color;
		@include transition(background-color 100ms linear, transform 200ms linear, top 200ms linear);
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	@at-root .csstransforms &.active {
		&:before {
			@include transform-origin(left top);
			@include transform(translateX(5px) rotate(45deg));
		}
		&:after {
			@include transform-origin(left bottom);
			@include transform(translateX(5px) rotate(-45deg));
		}
	}

	&:hover {
		&:before,
		&:after,
		> i {
			background-color: $color-active;
		}
	}

	> i {
		display: block;
		position: static;
		height: $bar-height;
		background-color: $color;
		@include transition(background-color 100ms linear);
	}

	@at-root .csstransforms &.active > i {
		@include transform(scale(0, 0)); // hide this via CSS3 2D transform
	}
}