body > header {
	$text-color: #303030;
	$top-links-y: 28px;
	$bp-desktop: xlarge;

	position: relative;
	font-family: $font-family-sans-serif;
	color: $text-color;
	background-color: #fff;

	@include breakpoint($bp-desktop) {
		&:before, &:after {
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			top: 70px;
			background: #e5e5e5;
		}

		&:before {
			left: 0;
			right: 50%;
			margin-right: 125px;
		}

		&:after {
			left: 50%;
			right: 0;
			margin-left: 125px;
		}
	}

	> .container {
		@extend %container;
		@extend %clearfix;
		position: relative;
	}

	.logo {
		$width: 170px;

		display: block;
		width: $width;
		margin: 5px auto 15px;
		text-align: center;

		> img {
			display: block;
			width: 100%;
			border: 0;
		}
	}

	%top-link {
		display: none;
		position: absolute;
		top: $top-links-y;
		font-size: 12px;

		&, &:link, &:visited {
			color: $text-color;
			text-decoration: none;
		}

		&:hover {
			color: $text-color;
			text-decoration: underline;
		}
	}

	.rewards-link {
		@extend %top-link;

		left: $viewport-h-padding;
		padding-left: ($sprite-header-star-width + 8px);
		line-height: $sprite-header-star-height;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			@include sprite($sprite-header-star);
		}

		@include breakpoint($bp-desktop) {
			display: block;
		}
	}

	.phone-link {
		@extend %top-link;

		right: 50%;
		margin-right: 125px;
		padding-left: ($sprite-header-phone-width + 10px);
		line-height: $sprite-header-phone-height;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			@include sprite($sprite-header-phone);
		}

		@include breakpoint($bp-desktop) {
			display: block;
		}
	}

	.mobile-link {
		@extend %top-link;

		left: 50%;
		margin-left: 125px;
		padding-right: ($sprite-header-mobile-width + 13px);
		line-height: $sprite-header-mobile-height;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			@include sprite($sprite-header-mobile);
		}

		@include breakpoint($bp-desktop) {
			display: block;
		}
	}

	.social-bar { // see _social-bar.scss
		display: none;
		position: absolute;
		top: 20px;
		right: $viewport-h-padding;

		@include breakpoint($bp-desktop) {
			display: block;
		}
	}

	.primary-nav {
		display: none;
		position: absolute;
		bottom: 0;
		font-size: $font-size-base;
		font-family: $font-family-serif;
		white-space: nowrap;

		@include breakpoint($bp-desktop) {
			display: block;
		}

		&.left {
			left: $viewport-h-padding;
			right: 50%;
			margin-right: 135px;
		}

		&.right {
			left: 50%;
			right: $viewport-h-padding;
			margin-left: 135px;
		}

		> ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 74px;
			@include display-flex;
			@include justify-content(space-between);
			@include align-items(center);

			> li {
				display: block;
				margin: 0;
				padding: 0;

				> a {
					$height: 35px;
					$border-width: 3px;

					position: relative;
					display: block;
					height: $height;
					padding: 0 10px;
					line-height: ($height - $border-width);

					&, &:link, &:visited, &:hover {
						color: $text-color;
						text-decoration: none;
					}

					&:after {
						content: '';
						display: none;
						height: $border-width;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						background: #ede311;

						@at-root .csstransforms & {
							display: block;
							@include transform(scale(0, 1));
							@include transition(transform 180ms ease-out);
						}
					}
				}

				&.active > a:after,
				> a:hover:after {
					display: block;

					@at-root .csstransforms & {
						@include transform(scale(1, 1));
						@include transition(transform 150ms ease-in);
					}
				}
			} // li
		} // ul
	} // .primary-nav

	.mega-menu {
		display: none;
		padding: 0;
		border-bottom: 3px solid #d9d9d9;
		position: absolute;
		z-index: $zindex-dropdown-nav;
		top: 100%;
		left: 0;
		right: 0;
		overflow: hidden;
		box-shadow: inset 0 4px 15px rgba(168, 172, 185, 0.45);
		background: #fff;

		@include breakpoint($bp-desktop) {
			&.open {
				display: block;
			}
		}

		> ul {
			@extend %container;

			list-style: none;
			margin-top: 0;
			margin-bottom: 0;
			padding: 30px $viewport-h-padding;
			@include display-flex;
			@include justify-content(space-between);
			@include align-items(flex-start);
			position: relative;

			&:after {
				content: '';
				display: block;
				width: 280px;
				height: 279px;
				position: absolute;
				right: -25px;
				bottom: 0;
				background: url($imgbase + "mega-menu-bg.jpg") no-repeat;
			}

			> li { // 1st lvl item := column
				display: block;
				margin: 0;
				padding: 0 25px 10px;
				border-left: 1px solid #efefef;

				&:first-child {
					padding-left: 0;
					border-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}

				> a, > span { // hide this menu branch name
					display: none;
				}

				> ul { // column's children container
					list-style: none;
					margin: 0;
					padding: 0;

					> li { // column section branch
						display: block;
						margin: 15px 0 0;
						padding: 0;

						&.menu-item-has-children {
							margin-top: 35px;
						}

						&:first-child,
						&.menu-item-has-children:first-child {
							margin-top: 0;
						}

						> a { // column section title
							font-family: $font-family-serif;
							font-size: $font-size-base;
							white-space: nowrap;
							line-height: $line-height-base;

							&, &:link, &:visited {
								color: $text-color;
								text-decoration: none;
							}

							&:hover {
								color: $text-color;
								text-decoration: underline;
							}
						}

						> ul {
							list-style: none;
							margin: 15px 0 0;
							padding: 0;

							> li {
								display: block;
								padding: 0;
								margin: 0 0 15px;
								line-height: $line-height-base;
								white-space: nowrap;

								&:last-child {
									margin-bottom: 0;
								}

								> a {
									font-size: 13px;
									font-family: $font-family-sans-serif;

									&, &:link, &:visited {
										color: $text-color;
										text-decoration: none;
									}

									&:hover {
										color: $text-color;
										text-decoration: underline;
									}
								}
							}
						}
					} // li := column section branch
				}  // ul := column's children container
			} // li := 1st lvl item
		} // ul
	} // .mega-menu

	.menu-toggle {
		position: absolute;
		top: 35px;
		line-height: 15px;
		font-family: $font-family-sans-serif;
		font-size: 9px;
		color: #9c9b9b;
		text-transform: uppercase;
		cursor: pointer;
		@include user-select(none);

		@include breakpoint($bp-desktop) {
			display: none;
		}

		&.left {
			padding-left: 35px;
			left: $viewport-h-padding;
		}

		&.right {
			padding-right: 35px;
			right: $viewport-h-padding;
		}
	}
}