.main-slider {
	$height: 535px;

	position: relative;

	.slide {
		position: relative;
		height: $height;
		
		> picture,
		.picture {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			font-size: 0;
			line-height: 1;
			background-size: cover;

			&:after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: rgba(0, 0, 0, 0.39);
			}

			> img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: 50% 50%;
				object-position: 50% 50%;
			}
		}
	}

	.slick-prev, .slick-next {
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		display: block;
		margin: (-$sprite-main-slider-left-height / 2) 0 0;
		padding: 0;
		border: 0;
		border-radius: 0;
		font-size: 0;
		background: transparent;
		cursor: pointer;
		@include transform(none);

		&:before {
			content: none;
		}
	}

	.slick-prev {
		@include sprite($sprite-main-slider-left);
		$max-content-width: map-get($breakpoints, xlarge) - $viewport-h-padding * 2;
		margin-left: (-$max-content-width / 2);
	}

	.slick-next {
		@include sprite($sprite-main-slider-right);
		$max-content-width: map-get($breakpoints, xlarge) - $viewport-h-padding * 2;
		margin-left: ($max-content-width / 2 - $sprite-main-slider-right-width);
	}

	.medal {
		display: none;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		line-height: 1;
		font-size: 0;

		> img {
			border: 0;
		}

		@include breakpoint(medium) {
			display: block;
		}
	}

	.overlay {
		position: absolute;
		z-index: 3;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		pointer-events: none;
	}

	.container {
		@extend %container;
		@extend %clearfix;

		text-align: center;
	}

	.title {
		position: relative;
		max-width: 760px;
		padding: 0 0 25px;
		margin: 220px auto 65px;
		line-height: (72px / 64px);
		font-size: 38px;
		font-weight: 400;
		font-style: normal;
		font-family: $font-family-serif;
		color: #fff;
		text-align: center;
		pointer-events: auto;

		@include breakpoint(xlarge) {
			font-size: 64px;
			margin: 100px auto 90px;
		}

		&:after {
			$width: 64px;

			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			display: block;
			width: $width;
			height: 3px;
			margin-left: (-$width / 2);
			background: #ede311;
		}
	}

	.button {
		pointer-events: auto;
	}
}