.news {
	margin: 75px 0;

	> header {
		@extend %section-header;
		padding-bottom: 20px;

		.heading {
			@extend %section-heading;
		}
	}

	> .content {
		@extend %container;
	}

	> footer {
		@extend %section-footer;
	}

	.post-card:nth-child(n+2) {
		display: none;

		@include breakpoint(large) {
			display: block;
			@include display-flex;
		}
	}
}