.portfolio {
	margin: 0 0 45px;
	padding: 65px 0 0;

	> header {
		@extend %section-header;

		.heading {
			@extend %section-heading;
		}

		.subheading {
			@extend %section-subheading;
			max-width: 940px;
		}
	}

	> .content {
		@extend %container;
	}

	.big-portfolio-item {
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}

		// Hide all except the first one on mobiles
		~ .big-portfolio-item {
			display: none;

			@include breakpoint(xlarge) {
				display: block;
				@include display-flex;
			}
		}
	}

	.portfolio-thumbnail-list {
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	> footer {
		@extend %section-footer;
	}
}