.portfolio-thumbnail-list {
	$gutter: 30px;

	list-style: none;
	margin: 0;
	padding: 0;

	@include breakpoint(xlarge) {
		@include display-flex;
		@include justify-content(space-between);
	}

	> .portfolio-thumbnail-item {
		margin: 0 auto 40px;
		max-width: 770px;

		@include breakpoint(xlarge) {
			margin: 0 $gutter 0 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.portfolio-thumbnail-item {
	$width: 369px;
	$border-color: #e5e5e5;

	display: block;
	max-width: $width;
	margin: 0;
	padding: 0;

	.name {
		margin: 0 0 20px;
		padding: 0;

		font-family: $font-family-serif;
		font-size: 28px;
		font-weight: 400;
		font-style: normal;
		text-align: left;

		line-height: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	picture {
		display: block;
		line-height: 0;
		font-size: 0;
		text-align: center;

		> img {
			width: 100%;
			border: 0;
		}
	}

	.counters {
		@include flex(1 1 auto);
		list-style: none;
		margin: 0;
		padding: 10px 0;
		border-right: 1px solid $border-color;
		border-left: 1px solid $border-color;
		@include display-flex;
		@include justify-content(space-between);

		> li {
			position: relative;
			display: block;
			margin: 0;
			padding: 5px 15px;
			@include flex(1 1 auto);
			border-left: 1px solid $border-color;

			&:first-child {
				border-left: 0;
			}
		}

		.label {
			margin: 0 0 10px;
			line-height: 1;
			font-size: 12px;
			color: #9c9b9b;
		}

		.value {
			font-family: $font-family-serif;
			font-size: 24px;
			line-height: 1;

			@include breakpoint(xlarge) {
				font-size: 28px;
			}
		}

		.unit {
			font-family: $font-family-serif;
			font-size: 16px;
			vertical-align: baseline;

			@include breakpoint(xlarge) {
				font-size: 18px;
			}
		}
	}

	.more {
		@include flex(0 1 auto);
		position: relative;
		display: block;
		width: 76px;
		border-right: 1px solid $border-color;

		&, &:link, &:visited, &:hover {
			text-decoration: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			margin-top: (-$sprite-portfolio-thumbnail-item-more-height / 2);
			margin-left: (-$sprite-portfolio-thumbnail-item-more-width / 2);
			@include sprite($sprite-portfolio-thumbnail-item-more);
		}
	}

	.footer {
		@include display-flex;
		border-bottom: 1px solid $border-color;
	}
}