.post-card {
	$width: 370px;

	display: block;
	@include display-flex;
	@include flex-direction(column);
	width: $width;
	margin: 0;
	padding: 0 0 20px;
	border: 1px solid #e5e5e5;
	border-top: 0;
	text-align: left;

	> picture,
	.picture {
		@include flex(0 0 auto);
		display: block;
		height: 215px;
		margin: 0 -1px 30px;
		background-size: cover;
		
		> img {
			border: 0;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: 50% 50%;
			object-position: 50% 50%;
		}
	}

	.title {
		$text-color: #0b867a;

		@include flex(0 0 auto);
		margin: 0 15px 10px;
		line-height: 1;
		font-size: 14px;
		font-weight: 700;
		text-color: $text-color; // colorize the ellipsis
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		> a {
			&, &:link, &:visited {
				color: $text-color;
				text-decoration: underline;
			}

			&:hover {
				color: $text-color;
				text-decoration: none;
			}
		}
	}

	.teaser {
		@include flex(1 0 auto);
		margin: 0 15px;
		font-size: 15px;
		line-height: (24 / 15);
	}

	.time {
		@include flex(0 0 auto);
		margin: 0 15px;
		font-size: 12px;
		color: #9b9b9b;
		line-height: (24 / 12);
	}
}