.post-card-row {
	$gutter: 30px;

	list-style: none;
	margin: 0;
	padding: 0;

	@include breakpoint(large) {
		@include display-flex;
		@include justify-content(space-between);
	}

	> .post-card {
		margin: 0 0 $gutter;
		width: auto;

		&:last-child {
			margin-bottom: 0;
		}

		@include breakpoint(large) {
			@include flex(1 1 auto);
			width: 370px;
			margin: 0 0 0 $gutter;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}