.promo-quote {
	$content-width: map-get($breakpoints, xlarge);

	position: relative;
	color: $body-font-color;
	background: #eee;
	overflow: hidden;

	&:before, &:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		display: none;
		width: 359px;

		@include breakpoint(xlarge) {
			display: block;
		}
	}

	&:before {
		$width: 359px;
		
		left: 50%;
		width: $width;
		margin-left: (-$content-width / 2 - $width);
		background: url($imgbase + "promo-quote-left.jpg") no-repeat 100% 50%;

		@include breakpoint(xxlarge) {
			margin-left: 0;
			left: 0;
		}
	}

	&:after {
		$width: 359px;

		right: 50%;
		width: $width;
		margin-right: (-$content-width / 2 - $width );
		background: url($imgbase + "promo-quote-right.jpg") no-repeat 0% 50%;

		@include breakpoint(xxlarge) {
			margin-right: 0;
			right: 0;
		}
	}

	.container {
		@extend %container;
		@include display-flex;
		@include flex-direction(column);
		padding: 45px;

		@include breakpoint(large) {
			@include flex-direction(row);
			height: 299px;
			padding: 0 $viewport-h-padding;
		}
	}

	.author {
		@include flex(0 0 auto);
		@include display-flex;
		@include flex-direction(column);
		@include justify-content(center);
		margin-bottom: 15px;
		text-align: center;
		font-size: 15px;
		line-height: (22 / 15);

		@include breakpoint(large) {
			width: 135px;
			margin: 0 65px 0 0;
		}

		.avatar {
			display: table;
			margin: 0 auto 10px;
			max-width: 100%;
			border-radius: 50%;
			border: 5px solid #fff;
		}

		.name {
			font-weight: 700;
		}

		.position {
			font-style: italic;
		}
	}

	.content {
		@include flex(1 1 auto);
		@include display-flex;
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(stretch);
	}

	.text {
		position: relative;
		padding: 10px 0 0 0;
		font-size: 18px;
		font-family: $font-family-serif;
		font-style: italic;
		line-height: (28 / 18);

		@include breakpoint(large) {
			padding: 0 80px 0 0;
		}

		&:before {
			content: '';
			display: block;
			float: right;
			margin: -10px 0 5px 10px;
			@include sprite($sprite-quote-right);

			@include breakpoint(large) {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
			}
		}

		p {
			text-indent: 0;
			margin: 0 0 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer {
		margin-top: 30px;
		text-align: center;

		@include breakpoint(large) {
			margin-top: 20px;
			text-align: right;
		}

		.button {
			padding-left: 27px;
			padding-right: 27px;
		}
	}
}