.product-grid {
	$gutter-x: 30px;
	$gutter-y: 30px;

	list-style: none;
	@include display-flex;
	@include justify-content(flex-start);
	@include flex-direction(row);
	@include align-items(stretch);
	@include flex-wrap(wrap);
	margin: (-$gutter-y) 0 0 (-$gutter-x);
	padding: 0;

	> li {
		display: block;
		//width: 100%;
		margin: $gutter-y 0 0 0;
		padding: 0 0 0 $gutter-x;
	}

	.product-card {
		width: auto;
		margin: 0 auto;
	}
}