.product-card {
	$border-color: #e5e5e5;

	position: relative;
	display: block;
	@include display-flex;
	@include flex-direction(column);
	@include align-items(stretch);
	width: 270px;
	margin: 0;
	padding: 0 0 15px;
	border: 1px solid $border-color;
	color: $body-font-color;

	.preview {
		@include flex(0 1 auto);
		display: block;
		height: 240px;
		line-height: 240px;
		font-size: 0;
		text-align: center;

		> img {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			max-height: 100%;
			border: 0;
		}
	}

	.details {
		@include flex(1 1 auto);
		margin: 0 15px 15px;
		padding: 15px 0 0;
		border-top: 1px solid $border-color;
		line-height: (24 / 16);
		font-size: $global-font-size;
	}

	a.name {
		&, &:link, &:visited {
			color: $body-font-color;
			text-decoration: none;
		}

		&:hover {
			color: $body-font-color;
			text-decoration: underline;
		}
	}

	.footer {
		@include flex(0 1 auto);
		margin: 0 15px;
		height: 30px;
		line-height: 30px;
		font-size: 0;
		@include display-flex;
		@include justify-content(space-between);
		@include align-items(center);
	}

	.mark {
		@include flex(1 2 auto);
		font-size: 12px;
		color: #9b9b9b;
	}

	.price {
		@include flex(1 1 auto);
		padding-right: 15px;
		font-size: 18px;
		color: #0b867a;
		text-align: right;
	}

	&:hover .price {
		display: none;
	}

	.button {
		@include flex(0 1 auto);
		display: none;
		padding-left: 23px;
		padding-right: 23px;
	}

	&:hover .button {
		display: block;
	}

	.flag {
		$height: 24px;
		$bgcolor: #ede311;

		position: absolute;
		top: 17px;
		left: -1px;
		display: block;
		padding: 0 15px;
		height: $height;
		line-height: $height;
		background: $bgcolor;
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;

		&:before, &:after {
			content: '';
			position: absolute;
			left: 100%;
			display: block;
			width: 0;
			height: 0;
			border-left: 0;
			border-right: 10px solid transparent;
		}

		&:before {
			top: 0;
			border-top: ($height / 2) solid $bgcolor;
			border-bottom: 0;
		}

		&:after {
			bottom: 0;
			border-top: 0;
			border-bottom: ($height / 2) solid $bgcolor;
		}
	}
}