.scrolling-nav {
	$height: 75px;
	$content-width: (map-get($breakpoints, xlarge) - $viewport-h-padding);

	padding: 0 $viewport-h-padding;
	background: #302826;
	font-family: $font-family-serif;
	font-size: $font-size-base;

	.frame {
		max-width: $content-width;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;

		> ul {
			list-style: none;
			position: relative;
			width: $content-width;
			height: 75px;
			margin: 0;
			padding: 0;
			@include display-flex;
			@include justify-content(space-between);
			@include align-items(center);

			> li {
				@include flex(0 1 auto);
				display: block;
				white-space: nowrap;

				> a {
					$color: #fff;

					&, &:link, &:visited {
						color: $color;
						text-decoration: none;
					}

					&:hover {
						color: $color;
						text-decoration: underline;
					}
				}
			}
		}
	}
}