%section-header {
	@extend %container;
	position: relative;
	z-index: 2;
	padding-bottom: 10px;
	margin-bottom: 35px;

	&:after {
		$width: 64px;

		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		display: block;
		width: $width;
		height: 3px;
		margin-left: (-$width / 2);
		background: #ede311;
	}
}

%section-heading {
	position: relative;
	z-index: 2;
	display: table;
	margin: 0 auto 20px;
	padding: 0 40px;
	line-height: 1;
	font-family: $font-family-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(medium) {
		padding: 0 45px;
		font-size: 42px;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		top: 59%;
		display: block;
	}

	&:before {
		left: 0;
		margin-top: (-$sprite-heading-leaf-left-height / 2);
		@include sprite($sprite-heading-leaf-left);
	}

	&:after {
		right: 0;
		margin-top: (-$sprite-heading-leaf-right-height / 2);
		@include sprite($sprite-heading-leaf-right);
	}
}

%section-subheading {
	margin: 0 auto;
	max-width: 770px;
	line-height: (28 / 18);
	font-family: $font-family-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
}

%section-footer {
	@extend %base64-bg-portfolio-footer;
	max-width: (map-get($breakpoints, xlarge) - $viewport-h-padding * 2);
	margin: 45px auto 0;
	text-align: center;
	line-height: 1;
	font-size: 0;
	background-position: 50% 50%;
	background-repeat: repeat-x;

	.button.ghost:not(:active):not(:hover) {
		background-color: #fff;
	}
}