.services {
	padding: 70px 0 65px;

	@include breakpoint(medium) {
		padding: 70px 0 80px;
	}

	> header {
		@extend %section-header;
		padding-bottom: 15px; // +5px font height correction

		.heading {
			@extend %section-heading;
		}
	}

	> .content {
		@extend %container;
	}
}