.service-grid {
	$gutter-x: 30px;
	$gutter-y: 40px;
	$gutter-y-small: 20px;

	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
	text-align: left;
	color: $body-font-color;

	@include breakpoint(medium) {
		margin-left: (-$gutter-x);
		margin-top: (-$gutter-y);
	}

	> li {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin: $gutter-y-small 0 0;
		padding: 0;
		font-size: $global-font-size;
		line-height: (22 / 14);
		text-align: center;

		@include breakpoint(medium) {
			width: 50%;
			margin-top: $gutter-y;
			padding-left: $gutter-x;
		}

		@include breakpoint(large) {
			width: 33.333%;
		}
	}

	.icon {
		display: block;
		margin: 0 0 20px;
		height: 70px;
		line-height: 70px;
		font-size: 0;

		> img {
			display: inline-block;
			vertical-align: bottom;
			border: 0;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.name {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;

		&, &:link, &:visited {
			color: #0b867a;
			text-decoration: underline;
		}

		&:hover {
			color: #0b867a;
			text-decoration: none;
		}
	}

	.description {
		margin: 10px 0 0;
		font-size: 15px;
		line-height: (24 / 15);
	}
}