.social-bar {
	$outer-diam: 26px;
	$outer-radius: ($outer-diam / 2);

	display: block;
	font-size: 0;
	line-height: 1;
	white-space: nowrap;

	> a {
		@extend .fonticon;

		display: inline-block;
		width: $outer-diam;
		height: $outer-diam;
		margin-left: 4px;
		border-radius: $outer-radius;
		text-align: center;
		vertical-align: middle;
		font-size: 12px;

		&, &:link, &:visited, &:hover {
			text-decoration: none;
		}

		&:first-child {
			margin-left: 0;
		}

		&.vk {
			@extend .fonticon--vk;
		}

		&.twitter {
			@extend .fonticon--twitter;
		}

		&.facebook {
			@extend .fonticon--facebook;
		}

		&.gplus {
			@extend .fonticon--gplus;
		}

		&.youtube {
			@extend .fonticon--youtube;
		}
	}

	&.light > a {
		$border-width: 1px;

		line-height: ($outer-diam - $border-width * 2);
		border: $border-width solid #eaeaea;
		background: #fff;
		
		&, &:link, &:visited {
			color: #212121;
		}

		&:hover {
			color: #0b867a;
		}
	}

	&.dark > a {
		$border-width: 0;

		line-height: ($outer-diam - $border-width * 2);
		border: $border-width solid #fff;
		background: #fff;
		
		&, &:link, &:visited {
			color: #212121;
		}

		&:hover {
			color: #0b867a;
		}
	}
}