.store {
	margin: 75px 0;

	> header {
		@extend %section-header;
		padding-bottom: 20px;
		margin-bottom: 25px;

		.heading {
			@extend %section-heading;
		}
	}

	> .content {
		@extend %container;
	}

	> footer {
		@extend %section-footer;
	}

	.tabs {
		margin-bottom: 40px;
	}
}