.supervision {
	height: 299px;
	line-height: 299px;
	padding: 0 $viewport-h-padding;
	font-size: 0;
	text-align: center;
	background: url($imgbase + "supervision-640.jpg") no-repeat 50% 50%;

	@include breakpoint(medium) {
		background-image: url($imgbase + "supervision-1920.jpg");
	}

	.heading {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		font-family: $font-family-serif;
		font-size: 38px;
		font-weight: 400;
		font-style: normal;
		line-height: (48 / 38);
		color: #fff;
		text-align: center;

		@include breakpoint(large) {
			font-size: 64px;
		}
	}
}