.tabs {
	overflow: hidden;

	> ul {
		@extend %clearfix-after;
		display: table;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		font-size: 0;
		line-height: 1;
		white-space: nowrap;

		> li {
			display: inline-block;
			vertical-align: middle;
			font-size: $global-font-size;
			margin: 0 0 0 10px;
			padding: 0;

			@include breakpoint(large) {
				margin-left: 40px;
			}

			&:first-child {
				margin-left: 0;
			}

			> a {
				position: relative;
				display: block;
				padding: 0 6px 9px;

				&, &:link, &:visited, &:hover {
					color: $body-font-color;
					text-decoration: none;
				}

				&:after {
					content: '';
					display: none;
					height: 2px;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					background: $body-font-color;

					@at-root .csstransforms & {
						display: block;
						@include transform(scale(0, 1));
						@include transition(transform 180ms ease-out);
					}
				}
			}

			&.active > a:after,
			> a:hover:after {
				display: block;

				@at-root .csstransforms & {
					@include transform(scale(1, 1));
					@include transition(transform 150ms ease-in);
				}
			}
		} // li
	} // ul
}