
.fonticon--twitter:before { content: '\f099'; } /* '' */
.fonticon--facebook:before { content: '\f09a'; } /* '' */
.fonticon--youtube:before { content: '\f16a'; } /* '' */
.fonticon--vk:before { content: '\f189'; } /* '' */
.fonticon--gplus:before { content: '\f30f'; } /* '' */